<h1>About us</h1>
<p>I'm working on my One Month Rails app!  This is my first adventure in learning code so bare with me.  As my first project I will be contructing a Pinterest like app called "Pinteresting."  Super excited for the end results!</p>